<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar actividades</title>
</head>
<body>
    
    <h1>Listar actividades</h1><br><br>

('monitor', 'actividad_Realizada', 'obs', 'fecha', )

    {% if datosAc %}
    <table>
        <thead>
            <tr>
                <td>Monitor</td>
                <td>Actividad realizada</td>
                <td>Comentarios</td>
                <td>Fecha monitoria</td>
            </tr>
        </thead>
        <tbody>
            {% for i in datosAc %}
            <tr>
                <td>{{i.monitor}}</td>
            </tr>
        </tbody>
    </table>

</body>
</html>