<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>

    <h1>Formulario aprendices</h1><br>
    <form action="{% url 'territorio:guardarAprendices' %}" method="post">

        {% csrf_token %}

        <label>Cedula</label><br>
        <input type="text" name="cedula" placeholder="1001..."><br><br>

        <label>Nombre</label><br>
        <input type="text" name="nombre" placeholder="Juanito"><br><br>

        <label>Apellido</label><br>
        <input type="text"  name="apellido" placeholder="Perez"><br><br>

        <label>Fecha de nacimiento</label><br>
        <input type="date" name="fecha_nacimiento"><br><br>

        <button type="submit">Guardar</button>

    </form>
    
</body>
</html>